doctype html
head
  meta(charset='utf-8')
  meta(name='x-apple-disable-message-reformatting')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='format-detection' content='telephone=no, date=no, address=no, email=no')
  link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&amp;display=swap' rel='stylesheet' media='screen')
  //if mso
    xml
      o:officedocumentsettings
        o:pixelsperinch 96
    style.
      td,
      th,
      div,
      p,
      a,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
      font-family: 'Segoe UI', sans-serif;
      mso-line-height-rule: exactly;
      }
  style.
    @media (max-width: 600px) {
    .sm-w-full {
    width: 100% !important;
    }
    }
div(role='article' aria-roledescription='email' aria-label='' lang='en')
  table(style="\
  background-color: #f2f4f6;\
  font-family: 'Nunito Sans', -apple-system, 'Segoe UI', sans-serif;\
  width: 100%;\
  " width='100%' bgcolor='#f2f4f6' cellpadding='0' cellspacing='0' role='presentation')
    tr
      td(align='center')
        table(style='width: 100%' width='100%' cellpadding='0' cellspacing='0' role='presentation')
          tr
            td(align='center' style='\
            padding-top: 25px;\
            padding-bottom: 25px;\
            text-align: center;\
            ')
              a(href=applicationUrl style='\
              text-shadow: 0 1px 0 #ffffff;\
              font-weight: 700;\
              font-size: 24px;\
              color: #a8aaaf;\
              text-decoration: none;\
              ')
                | #{applicationTitle}
          tr
            td(style='width: 100%' width='100%')
              table.sm-w-full(align='center' style='\
              background-color: #ffffff;\
              margin-left: auto;\
              margin-right: auto;\
              width: 570px;\
              ' width='570' bgcolor='#ffffff' cellpadding='0' cellspacing='0' role='presentation')
                tr
                  td(style='padding: 45px')
                    div(style='font-size: 16px; text-align: center; padding-bottom: 14px;')
                      | Your new password is:
                    div(style='font-size: 16px; text-align: center')
                      | #{password}
        p(style='\
        font-size: 13px;\
        line-height: 24px;\
        margin-top: 6px;\
        margin-bottom: 20px;\
        color: #51545e;\
        ')
          a(href=applicationUrl style='color: #3869d4') Open #{applicationTitle}
tr
  td
    table.sm-w-full(align='center' style='\
    margin-left: auto;\
    margin-right: auto;\
    text-align: center;\
    width: 570px;\
    ' width='570' cellpadding='0' cellspacing='0' role='presentation')
      tr
        td(align='center' style='font-size: 16px; padding: 45px')
          p(style='\
          font-size: 13px;\
          line-height: 24px;\
          margin-top: 6px;\
          margin-bottom: 20px;\
          text-align: center;\
          color: #a8aaaf;\
          ')
            | #{applicationTitle}
