doctype html
head
  meta(charset='utf-8')
  meta(name='x-apple-disable-message-reformatting')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='format-detection' content='telephone=no, date=no, address=no, email=no')
  link(href='https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap' rel='stylesheet' media='screen')
  //if mso
    xml
      o:officedocumentsettings
        o:pixelsperinch 96
    style.
      td,
      th,
      div,
      p,
      a,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
      font-family: 'Segoe UI', sans-serif;
      mso-line-height-rule: exactly;
      }
  style.
    .title:hover * {
    text-decoration: underline;
    }
    @media only screen and (max-width:600px) {
    table {
    font-size: 20px !important;
    width: 100% !important;
    }
    }
div(style='display: block; background-color: #111827;')
  table(style='margin: 0 auto; font-family: Inter, Arial, Sans-Serif; color: #fff; font-size: 16px; width: 26rem;')
    tr
      td(style="text-align: center;")
        a(href=applicationUrl)
          img(src=applicationUrl +'/logo_full.png' style='width: 26rem; padding: 1rem; image-rendering: crisp-edges; image-rendering: -webkit-optimize-contrast;')
    tr
      td(style='text-align: center;')
        div(style='margin: 0rem 1rem 1rem; font-size: 1.25em;')
          span
            | An account has been created for you at #{applicationTitle}.
    tr
      td(style='text-align: center;')
        div(style='margin: 1rem 1rem 1rem; font-size: 1.25em;')
          span
            | Your new password is:
        div(style='margin: 0rem 1rem 1rem; font-size: 1.25em;')
          span
            | #{password}
    if applicationUrl
      tr
        td
          a(href=applicationUrl style='display: block; margin: 1.5rem 3rem 2.5rem 3rem; text-decoration: none; font-size: 1.0em; line-height: 2.25em;')
            span(style='padding: 0.2rem; font-weight: 500; text-align: center; border-radius: 10px; background-color: rgb(99,102,241); color: #fff; display: block; border: 1px solid rgba(255, 255, 255, 0.2);')
              | Open #{applicationTitle}
